<ion-header>
  <ion-toolbar>
    <ion-title>Portfolio</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="scrollTo('about')">About</ion-button>
      <ion-button (click)="scrollTo('projects')">Projects</ion-button>
      <ion-button (click)="scrollTo('skills')">Skills & Certifications</ion-button>
      <ion-button (click)="scrollTo('education')">Education</ion-button>
      <ion-button (click)="scrollTo('contact')">Contact</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Hero Section -->
  <ion-grid id="about" class="hero">
    <ion-row>
      <ion-col size-md="6" size-sm="12" class="text-col">
        <h1 class="greeting">Greetings, I am</h1>
        <h1 class="name">Ankit Magoo,</h1>
        <p class="description">
          an MBA and MS-MIS graduate with expertise in product management,
          analytics, storytelling with data, and artificial intelligence.
        </p>
      </ion-col>
      <ion-col size-md="6" size-sm="12" class="image-col">
        <img src="assets/images/my-image.jpg" alt="Profile Picture" class="profile-image" />
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Education Section -->
  <ion-grid id="education" class="education-container">
    <!-- Education Section Title -->
    <ion-row>
      <ion-col size="12" class="section-title">
        <h2>Education</h2>
      </ion-col>
    </ion-row>
  
    <!-- Education Cards -->
    <ion-row>
      <!-- Undergraduate Section -->
      <ion-col size-md="6" size-sm="12" class="education-item">
        <img src="assets/images/university-of-mumbai.png" alt="University of Mumbai" class="education-image" />
        <div class="education-text">
          <h3>2016 - 2020</h3>
          <h2>Bachelor of Engineering in Computer Engineering</h2>
          <p>University of Mumbai</p>
        </div>
      </ion-col>
  
      <!-- Graduate Section -->
      <ion-col size-md="6" size-sm="12" class="education-item">
        <img src="assets/images/eller-college.png" alt="Eller College of Management" class="education-image" />
        <div class="education-text">
          <h3>Aug 2023 - May 2025</h3>
          <h2>
            MS Management Information Systems (MIS) <br />
            Master of Business Administration (MBA)
          </h2>
          <p>Eller College of Management, University of Arizona</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
